<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table  border="1">
  <tr>
    <th scope="row"><a href="/view_property">Verify shop</a></th>
  </tr>
  <tr>
        <th scope="row"><a href="/view_expert">View users</a> </th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_feedback">View feedback</a> </th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_complaint">View complaint and sent reply</a> </th>
  </tr>
  <tr>
    <th scope="row"> <a href="/logout">Logout</a></th>
  </tr>
</table>
</body>
</html>